@import './variables'

.columnName
    font-size: .85rem
    font-weight: 600
    line-height: 20px
    color: $mainTextColor !important

.columnData
    font-size: 13px
    font-weight: 500
    line-height: 20px
    color: $mainTextColor !important

.editIcon, .deleteIcon, .disableIcon, .activateIcon
    font-size: 1.2rem
    cursor: pointer

.editIcon
    color: orange

.deleteIcon
    color: red

.disableIcon
    color: #000

.activateIcon
    color: green

.copyIcon
    color: blue

.columnImage
    width: 100px
    height: 40px
    img
        width: 100%
        height: 100%
        object-fit: cover

.activePartner
    width: 15px
    height: 15px
    background-color: #87fc00
    border-radius: 50%

.inactivePartner
    width: 15px
    height: 15px
    background-color: #ff0000
    border-radius: 50%