@import '../../styles/variables'
    
.ant-layout
  min-height: 100vh
  &-header
    padding: 0 20px
    display: flex
    justify-content: space-between
    align-items: center
    .user-profile
      display: flex
      align-items: center
      gap: 10px
  &-content
    padding:20px 24px

.logo
    height: 60px
    width: 240px
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    @include centering
    img
        height: 70%
        width: 70%
        object-fit: contain

.ant-menu-item
    font-weight: 500
    font-size: 13px
    &-active
        font-weight: 600
        font-size: 14px

.menu-icon, .logout-icon
    font-size: 16px
    cursor: pointer
